@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');
/* ------ Generic ------ */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --background: #353f50;
    --smiley: #fbd971;
    --eyes-open: #af8066;
    --eyes-shut: #f29c1f;
    --mouth: #f0c419;
    --foundation: #dbd9d9;
    --box: #b880b8;
    --box-shadow: rgba(0, 0, 0, .5);
}

.page {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--background);
    display: flex;
    align-items: center;
}

.container {
    width: 100vw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.emoji__container {
    height: 200px;
    width: 200px;
    display: flex;
    margin-left: 15px;
}

 .emoji--slide {
    animation:
    slide 2s ease-out .5s forwards;
}

.emoji{
    fill: var(--smiley);
}

.emoji__eye {
    fill: var(--eyes-open);
}

.emoji__mouth {
    stroke: var(--mouth);
    stroke-width: 12px;
    stroke-linecap: round;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    
    to {
        transform: translateX(200px);
    }
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: var(--box);
    border-radius: 30px;
    -moz-box-shadow:    5px 5px 10px var(--box-shadow);
    -webkit-box-shadow: 5px 5px 10px var(--box-shadow);
    box-shadow:         5px 5px 10px var(--box-shadow);
    margin-bottom: 10px;
}

.box__button {
    
}

.foundation {
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: var(--foundation);
}